<!DOCTYPE html>
<html>
<head>
<title>QuoteMuster</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" initial-scale=1>
<link rel="stylesheet" type="text/css" href="static/css/stylesheet.css"/>
<style>
    body {
      background-image:url("static/img/pexels-rafael-guajardo-604684.jpg");
      object-fit:cover;
      background-position:right;
    }
    
</style>
</head>
<body>
<br><br>
<img src="static/img/quoteCup.jpeg" alt="coffee" width="350"/>
<br><br>
<h2>Inspirational quote generator</h2>
<br>
<div>
<form action="/upload_quote" method="POST">
<input class="input" type="text" name="name" id="name" placeholder="TYPE NAME HERE"><br>
<br>
<button class="button">Submit</button>
</form>
</div>
<br>
<br><br>
<br><br><br>
<footer>
<p>&copy;2021 Developed by @comicodex All rights reserved.</p>
</footer>
</body>
</html>







