<!DOCTYPE html>
<html>
<head>
<title>QuoteMuster</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" initial-scale=1>
<link rel="stylesheet" type="text/css" href="static/css/stylesheet.css"/>
<style>
    body {
      background-image:url("static/img/pexels-rafael-guajardo-604684.jpg");
      object-fit:cover;
      background-position:right;
    }
    p {
        background-color: gray;
        box-shadow: 5px 5px 5px rgb(0, 183, 255);
        align-self: center;
        width:40%;
        padding:10px;
        margin: auto;
        text-align: justify;
     }
</style>
</head>
<body>
<br><br><br><br><br>
<h1>Hello, {{ name }}!</h1>
<h2>Your daily dose of inspiration:</h2>
<br><br>

<p>{{ response }}</p>

<br>
<br><br><br>
<br><br><br>
<br><br><br>
<br>
<footer>
&copy;2021 Developed by @comicodex All rights reserved.
</footer>
</body>
</html>







